# Python related files
*.pyc
*.pyo
*.pyd
__pycache__/
*.env
*.DS_Store

# Virtual environment
env/
venv/

# Django specific
*.log
local_settings.py
db.sqlite3
media/

# Static files
staticfiles/
static/

# React / Node.js related files
node_modules/
build/

# Ignore IDE/editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore OS specific files
.DS_Store
Thumbs.db
